.side-bar {
    // background-color: red;
    height: 100vh;
    padding-inline-start: 12px;
    padding-bottom: 20px;
    padding-top: 8px;
    border-inline-end: 1px solid rgba(104, 102, 102, 0.144);
    // width: ;
    // fle

    .logo{
        width: rem(196px);
    }
}