.story-preview {
  display: flex;
  font-size: rem(14px);
  flex-direction: column;
  font-weight: 600;
  width: rem(470px);
  word-break: break-word;
  gap: rem(7px);
  border-block-end: rem(1px) solid rgba(104, 102, 102, 0.397);
  p {
    margin: 0;
    font-weight: 400;
  }
  // &:last-child{
  //   margin-block-end: 10px;
  // }
  margin-block-end: rem(10px);

  .story-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    .action-btn{
      cursor: pointer;
    }
    a {
      cursor: pointer;
      padding: 0 rem(5px);
    }
    img {
      border-radius: 50%;
      cursor: pointer;
      height: rem(30px);
      object-fit: cover;
      width: rem(30px);
      margin-inline-end: rem(5px);
    }
    .by-user {
      display: flex;
      align-items: center;
    }
    .time {
      color: #8e8e8e;
      span {
        padding-inline-end: rem(5px);
      }
    }
  }
  .img-container {
    // border: 1px solid black;
    img {
      width: 100%;
      border-radius: rem(2px);
    }
  }
  .comments-preview {
    .story-name {
      margin-block-end: rem(5px);
    }
  }


  .comments {
    cursor: pointer;
  }

  .actions-container {

    display: flex;
    justify-content: space-between;
    svg {
      cursor: pointer;
      &:hover {
        opacity: 0.5;
      }
    }
    .start-actions {
      display: flex;
      align-items: center;
      gap: 15px;
    }
  }
  .likes {
    font-weight: 600;
    display: flex;
    gap: 5px;
    align-items: center;
    margin: 0;
    p {
      margin: 0;
    }
  }
  .post-headline {
    display: flex;
    .story-name {
      font-weight: 600;
      margin-inline-end: rem(5px);
    }
    .story-txt {
      font-weight: 400;
    }
  }
  .comment-input {
    display: flex;
    margin-bottom: rem(15px);
    justify-content: space-between;

    input {
      all: unset;
      font-weight: 400;
    }
    .post-btn {
      color: rgb(10 153 246);
      font-weight: 700;
      cursor: pointer;
      &:hover {
        color: #083d70;
      }
    }
  }
}
